/* begin Page */
#kvm-page-background-glare {
   zoom: 1;
}

/* Start Box */
.kvm-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='kvm-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.kvm-box-body {
   zoom:1;
}
.kvm-box-tl, .kvm-box-tr, .kvm-box-cl, .kvm-box-cr, .kvm-box-bl, .kvm-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.kvm-box-tl,.kvm-box-bl,.kvm-box-cl {
   left:0;
}
.kvm-box-tr,.kvm-box-br,.kvm-box-cr {
   right:0;
}
.kvm-box-cl, .kvm-box-cr {
   background-repeat:repeat-y;
}
.kvm-box-tl {
   background-position: top left;
   z-index:-3;
}
.kvm-box-tr {
   background-position: top right;
   z-index:-3;
}
.kvm-box-cl {
   background-position: center left;
   z-index:-3;
}
.kvm-box-cr {
   background-position: center right;
   z-index:-3;
}
.kvm-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.kvm-box-br {
   background-position: bottom right;
   z-index:-3;
}

.kvm-box .kvm-box-tl,.kvm-box .kvm-box-tr,.kvm-box .kvm-box-cl,.kvm-box .kvm-box-cr,.kvm-box .kvm-box-bl,.kvm-box .kvm-box-br{
   z-index:-2;
}
.kvm-box .kvm-box .kvm-box-tl,.kvm-box .kvm-box .kvm-box-tr,.kvm-box .kvm-box .kvm-box-cl,.kvm-box .kvm-box .kvm-box-cr,.kvm-box .kvm-box .kvm-box-bl,.kvm-box .kvm-box .kvm-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.kvm-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='kvm-bar-'+e[ i]}('r,l'.split(',')));
}
.kvm-bar-l, .kvm-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.kvm-bar-l {
   left:0;
   background-position: top left;
}
.kvm-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Header */
.kvm-header {
   zoom:expression(runtimeStyle.zoom=1);
   z-index: 1;
}

/* end Header */

/* begin Menu */
.kvm-nav {
   position: expression(runtimeStyle.position='relative');
}
.kvm-nav>.kvm-bar-l, .kvm-nav>.kvm-bar-r{
   background-image: url('../images/nav.png');
}
.kvm-nav>.kvm-bar-l{
   right: 0;
}
.kvm-nav>.kvm-bar-r{
   width: 0;
}
.kvm-hmenu ul li {
   float: left !important;
   width:100%;
}
.kvm-hmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.kvm-hmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='kvm-hmenu-'+e[ i]}('r,l'.split(',')));
}
ul.kvm-hmenu>li>a>span.kvm-hmenu-l, ul.kvm-hmenu>li>a>span.kvm-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.kvm-hmenu>li>a>span.kvm-hmenu-l
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.kvm-hmenu>li>a>span.kvm-hmenu-r
{
   width: 0;
   right: 0;
   background-position: top right;
}

ul.kvm-hmenu>li>a.active>span.kvm-hmenu-l {
   background-position: bottom left;
} 
ul.kvm-hmenu>li>a.active>span.kvm-hmenu-r {
   background-position: bottom right;
}
ul.kvm-hmenu>li>a.active {
   color: #BCC1AD;
}

ul.kvm-hmenu>li>a:hover>span.kvm-hmenu-l, ul.kvm-hmenu>li:hover>a>span.kvm-hmenu-l {
   background-position: center left;
}
ul.kvm-hmenu>li>a:hover>span.kvm-hmenu-r, ul.kvm-hmenu>li:hover>a>span.kvm-hmenu-r {
   background-position: center right;
}
ul.kvm-hmenu>li>a:hover, ul.kvm-hmenu>li:hover>a{
   color: #E2E8EE;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.kvm-hmenu>li:first-child {
   padding-right:1px;
}
ul.kvm-hmenu>li>span.kvm-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 65px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin Layout */
.kvm-content-layout, .kvm-content-layout-row, .kvm-layout-cell 
{
   display: block;
   zoom: 1;
}
.kvm-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader */
.kvm-blockheader>.kvm-bar-l, .kvm-blockheader>.kvm-bar-r{
   background-image: url('../images/blockheader.png');
}
.kvm-blockheader>.kvm-bar-l{
   right: 15px;
}
.kvm-blockheader>.kvm-bar-r{
   width: 15px;
}

/* end BlockHeader */

/* begin PostIcons, PostHeaderIcons */
.kvm-postheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.kvm-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin PostIcons, PostFooterIcons */
.kvm-postfootericons span{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.kvm-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='kvm-footer-'+e[ i]}('r,l,t'.split(',')));
}
.kvm-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

.kvm-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.kvm-footer-l, .kvm-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:50px;
   background-image: url('../images/footer_b.png');
}

.kvm-footer-l
{
   left:0;
   right:0;
   background-position: top left;
}

.kvm-footer-r
{
   right:0;
   width:0;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.kvm-sidebar1 
{
   width: auto;
   float:none;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='kvm-sidebar1-bg' + (className.indexOf('kvm-sidebar1-fix') == -1 ? '' : ' kvm-sidebar1-bg-fix' ));
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */

.kvm-sidebar1-bg 
{
   zoom:expression(runtimeStyle.zoom=1, appendChild(document.createElement('div')).className='kvm-sidebar1-glare');
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 280px;
   overflow:hidden;
   display:block;
   background-color: #D2D7C6;
}
/* end LayoutCell, sidebar1 */

/* Plugin compatilibity. */

/* 154150, news pro gk1 */
.gk_npro_full_scroll1
{
   position: relative;
}

.nspro_bg_wrap .kvm-button-wrapper a
{
   float: none !important;
}
