/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#kvm-main, table
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.kvm-postcontent,
.kvm-postheadericons,
.kvm-postfootericons,
.kvm-blockcontent-body,
ul.kvm-vmenu a 
{
   text-align: left;
}

.kvm-postcontent,
.kvm-postcontent li,
.kvm-postcontent table,
.kvm-postcontent a,
.kvm-postcontent a:link,
.kvm-postcontent a:visited,
.kvm-postcontent a.visited,
.kvm-postcontent a:hover,
.kvm-postcontent a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-indent: 20px;
   text-align: justify;
   line-height: 150%;
}

.kvm-postcontent p
{
   margin: 12px 0;
}

.kvm-postcontent h1, .kvm-postcontent h1 a, .kvm-postcontent h1 a:link, .kvm-postcontent h1 a:visited, .kvm-postcontent h1 a:hover,
.kvm-postcontent h2, .kvm-postcontent h2 a, .kvm-postcontent h2 a:link, .kvm-postcontent h2 a:visited, .kvm-postcontent h2 a:hover,
.kvm-postcontent h3, .kvm-postcontent h3 a, .kvm-postcontent h3 a:link, .kvm-postcontent h3 a:visited, .kvm-postcontent h3 a:hover,
.kvm-postcontent h4, .kvm-postcontent h4 a, .kvm-postcontent h4 a:link, .kvm-postcontent h4 a:visited, .kvm-postcontent h4 a:hover,
.kvm-postcontent h5, .kvm-postcontent h5 a, .kvm-postcontent h5 a:link, .kvm-postcontent h5 a:visited, .kvm-postcontent h5 a:hover,
.kvm-postcontent h6, .kvm-postcontent h6 a, .kvm-postcontent h6 a:link, .kvm-postcontent h6 a:visited, .kvm-postcontent h6 a:hover,
.kvm-blockheader .t, .kvm-blockheader .t a, .kvm-blockheader .t a:link, .kvm-blockheader .t a:visited, .kvm-blockheader .t a:hover,
.kvm-vmenublockheader .t, .kvm-vmenublockheader .t a, .kvm-vmenublockheader .t a:link, .kvm-vmenublockheader .t a:visited, .kvm-vmenublockheader .t a:hover,
.kvm-logo-name, .kvm-logo-name a, .kvm-logo-name a:link, .kvm-logo-name a:visited, .kvm-logo-name a:hover,
.kvm-logo-text, .kvm-logo-text a, .kvm-logo-text a:link, .kvm-logo-text a:visited, .kvm-logo-text a:hover,
.kvm-postheader, .kvm-postheader a, .kvm-postheader a:link, .kvm-postheader a:visited, .kvm-postheader a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

.kvm-postcontent a
{
   font-family: Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #2F3A05;
}

.kvm-postcontent a:link
{
   font-family: Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #2F3A05;
}

.kvm-postcontent a:visited, .kvm-postcontent a.visited
{
   color: #275068;
}

.kvm-postcontent  a:hover, .kvm-postcontent a.hover
{
   text-decoration: underline;
   color: #346D8D;
}

.kvm-postcontent h1
{
   color: #4D570A;
   margin: 10px 0 0;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 26px;
}

.kvm-blockcontent h1
{
   margin: 10px 0 0;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 26px;
}

.kvm-postcontent h1 a, .kvm-postcontent h1 a:link, .kvm-postcontent h1 a:hover, .kvm-postcontent h1 a:visited, .kvm-blockcontent h1 a, .kvm-blockcontent h1 a:link, .kvm-blockcontent h1 a:hover, .kvm-blockcontent h1 a:visited 
{
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 26px;
}

.kvm-postcontent h2
{
   color: #2F3A05;
   margin: 10px 0 0;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
}

.kvm-blockcontent h2
{
   margin: 10px 0 0;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
}

.kvm-postcontent h2 a, .kvm-postcontent h2 a:link, .kvm-postcontent h2 a:hover, .kvm-postcontent h2 a:visited, .kvm-blockcontent h2 a, .kvm-blockcontent h2 a:link, .kvm-blockcontent h2 a:hover, .kvm-blockcontent h2 a:visited 
{
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
}

.kvm-postcontent h3
{
   color: #2F3A05;
   margin: 10px 0 0;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 18px;
}

.kvm-blockcontent h3
{
   margin: 10px 0 0;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 18px;
}

.kvm-postcontent h3 a, .kvm-postcontent h3 a:link, .kvm-postcontent h3 a:hover, .kvm-postcontent h3 a:visited, .kvm-blockcontent h3 a, .kvm-blockcontent h3 a:link, .kvm-blockcontent h3 a:hover, .kvm-blockcontent h3 a:visited 
{
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 18px;
}

.kvm-postcontent h4
{
   color: #9B3603;
   margin: 10px 0 0;
   font-size: 16px;
}

.kvm-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
}

.kvm-postcontent h4 a, .kvm-postcontent h4 a:link, .kvm-postcontent h4 a:hover, .kvm-postcontent h4 a:visited, .kvm-blockcontent h4 a, .kvm-blockcontent h4 a:link, .kvm-blockcontent h4 a:hover, .kvm-blockcontent h4 a:visited 
{
   font-size: 16px;
}

.kvm-postcontent h5
{
   color: #4D570A;
   margin: 10px 0 0;
   font-size: 14px;
}

.kvm-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.kvm-postcontent h5 a, .kvm-postcontent h5 a:link, .kvm-postcontent h5 a:hover, .kvm-postcontent h5 a:visited, .kvm-blockcontent h5 a, .kvm-blockcontent h5 a:link, .kvm-blockcontent h5 a:hover, .kvm-blockcontent h5 a:visited 
{
   font-size: 14px;
}

.kvm-postcontent h6
{
   color: #4D570A;
   margin: 10px 0 0;
   font-size: 13px;
}

.kvm-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.kvm-postcontent h6 a, .kvm-postcontent h6 a:link, .kvm-postcontent h6 a:hover, .kvm-postcontent h6 a:visited, .kvm-blockcontent h6 a, .kvm-blockcontent h6 a:link, .kvm-blockcontent h6 a:hover, .kvm-blockcontent h6 a:visited 
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#kvm-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

#kvm-page-background-glare-wrapper {
   position: absolute;
   width:100%;
}

#kvm-page-background-glare
{
   position: relative;
   top: 0;
   max-width:959px;
   min-width: 960px;
   height:345px;
   margin: 0 auto;
   background-image: url('../images/page_gl.png');
   background-repeat: no-repeat;
   background-position: center top;
}

body
{
   padding: 0;
   margin:0;
   min-width: 960px;
   color: #363831;
   background-color: #D9DCD0;
   background-image: url('../images/Bottom_texture.jpg');
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: top left;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.kvm-box, .kvm-box-body {
   margin:0 auto;
   position:relative;
}
.kvm-box:before, .kvm-box:after, .kvm-box-body:before, .kvm-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.kvm-box:before,.kvm-box-body:before{
   left:0;
}
.kvm-box:after,.kvm-box-body:after{
   right:0;
}
.kvm-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.kvm-box:after {
   background-position: bottom right;
   z-index:-3;
}
.kvm-box-body:before, .kvm-box-body:after {
   background-repeat:repeat-y;
}
.kvm-box-body:before {
   background-position: top left;
   z-index:-3;
}
.kvm-box-body:after {
   background-position: top right;
   z-index:-3;
}

.kvm-box .kvm-box:before, .kvm-box .kvm-box:after, .kvm-box-body .kvm-box-body:before, .kvm-box-body .kvm-box-body:after {
   z-index:-2;
}
.kvm-box .kvm-box .kvm-box:before, .kvm-box .kvm-box .kvm-box:after, .kvm-box-body .kvm-box-body .kvm-box-body:before, .kvm-box-body .kvm-box-body .kvm-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.kvm-bar {
   position:relative;
}
.kvm-bar:before, .kvm-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.kvm-bar:before {
   left:0;
   background-position: top left;
}
.kvm-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .kvm-postcontent li h1, .kvm-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .kvm-postcontent li h2, .kvm-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .kvm-postcontent li h3, .kvm-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .kvm-postcontent li h4, .kvm-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .kvm-postcontent li h5, .kvm-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .kvm-postcontent li h6, .kvm-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .kvm-postcontent li p, .kvm-blockcontent-body li p 
{
   margin:1px;
} 
/* end Page */

/* begin Header */
div.kvm-header
{
   margin: 0 auto;
   position: relative;
   width:960px;
   height: 150px;
   margin-top: 0;
   margin-bottom: 0;
}
.kvm-header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.kvm-header-wrapper 
{
   position: relative;
   top:0;
   width:960px;
   margin:0 auto;
}
.kvm-header-inner 
{
   position: relative;
   margin: 0 3px;
}

/* end Header */

/* begin Logo */
div.kvm-logo
{
   display: block;
   position: absolute;
   top: 20px;
   right: 97%;
   margin-right: -311px;
}

.kvm-logo-name
{
   display: block;
   text-align: right;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-size: 38px;
   padding: 0;
   margin: 0;
   color: #35372F !important;
}
.kvm-logo-name a, 
.kvm-logo-name a:link, 
.kvm-logo-name a:visited, 
.kvm-logo-name a:hover
{
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-size: 38px;
   padding: 0;
   margin: 0;
   color: #35372F !important;
}

.kvm-logo-text
{
   display: block;
   text-align: right;
   font-family: "Arial Narrow",Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-size: 18px;
   padding: 0;
   margin: 0;
   color: #424B09 !important;
}
.kvm-logo-text a,
.kvm-logo-text a:link,
.kvm-logo-text a:visited,
.kvm-logo-text a:hover
{
   font-family: "Arial Narrow",Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-size: 18px;
   padding: 0;
   margin: 0;
   color: #424B09 !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

ul.kvm-hmenu a, ul.kvm-hmenu a:link, ul.kvm-hmenu a:visited, ul.kvm-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.kvm-hmenu, ul.kvm-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.kvm-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.kvm-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.kvm-hmenu li li{
   float: none;
   width: auto;
}
ul.kvm-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.kvm-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.kvm-hmenu:after, ul.kvm-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.kvm-hmenu, ul.kvm-hmenu ul {
   min-height: 0;
}

ul.kvm-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.kvm-hmenu ul.kvm-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.kvm-hmenu ul.kvm-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.kvm-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.kvm-hmenu ul ul.kvm-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.kvm-hmenu ul ul.kvm-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

ul.kvm-hmenu li li:hover>ul.kvm-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.kvm-hmenu li li:hover>ul.kvm-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.kvm-hmenu{
   position:relative;
   padding: 0 0 0 0;
   float: left;
   left: 50%;
}
div.kvm-nav-center{
   position: relative;
   float: right;
   right: 50%;
}

.firefox2 ul ul.kvm-hmenu{
   float: none;
}
/* end menu structure */

/* menu bar */

.kvm-nav
{
   margin:0 auto;
   min-height: 65px;
   z-index: 100;
   margin: 0 3px -65px;
   width:auto;
   top: 105px;
}

.kvm-nav:before, .kvm-nav:after{
   background-image: url('../images/nav.png');
}
.kvm-nav:before{
   right: 0;
}
.kvm-nav:after{
   width: 0;
}
/* end menu bar */
.kvm-nav-outer{
   position:absolute;
   width:100%;
}
.kvm-nav-wrapper 
{
   position: relative;
   margin:0 auto;
   width:auto;
}

.kvm-nav-inner{
   margin: 0 3px;
}

.kvm-hmenu-extra1
{
   position : absolute;
   left: 0;
   top: 0;
   width: auto;
   height: 65px;
   background-position: center;
}

.kvm-hmenu-extra2
{
   position: absolute;
   right: 0;
   top: 0;
   width: auto;
   height: 65px;
   background-position: center;
}

/* images in menu items */
ul.kvm-hmenu img.kvm-menu-image, ul.kvm-hmenu img.kvm-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.kvm-hmenu img.kvm-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end Menu */

/* begin MenuItem */
ul.kvm-hmenu>li>a
{
   position: relative;
   display: block;
   height: 65px;
   cursor: pointer;
   text-decoration: none;
   color: #BCC1AD;
   padding: 0 26px;
   line-height: 65px;
   text-align: center;
}

ul.kvm-hmenu>li>a:before, ul.kvm-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.kvm-hmenu>li>a:before
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.kvm-hmenu>li>a:after
{
   width: 0;
   right: 0;
   background-position: top right;
}

.kvm-hmenu a, .kvm-hmenu a:link, .kvm-hmenu a:visited, .kvm-hmenu a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
   text-decoration: none;
   text-transform: uppercase;
}

ul.kvm-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.kvm-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.kvm-hmenu>li>a.active {
   color: #BCC1AD;
}

ul.kvm-hmenu>li>a:hover:before, ul.kvm-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.kvm-hmenu>li>a:hover:after, ul.kvm-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.kvm-hmenu>li>a:hover, ul.kvm-hmenu>li:hover>a{
   color: #E2E8EE;
}

.kvm-hmenu a:hover.separator-without-submenu 
{
   cursor: default;
}

.kvm-hmenu a:hover.separator-without-submenu .t
{
   color: #BCC1AD;
}

.kvm-hmenu li:hover a.separator-without-submenu .t
{
   color: #BCC1AD;
}

a:hover.separator-without-submenu .r, a:hover.separator-without-submenu .l 
{
   top: 0 !important;
}
/* end MenuItem */

/* begin MenuSeparator */
ul.kvm-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 65px;
   background: url('../images/menuseparator.png') center center no-repeat;
}

ul.kvm-hmenu>li {
   margin-left:1px;
}
ul.kvm-hmenu>li:first-child {
   margin-left:0;
}

ul.kvm-hmenu>li:first-child:before{
   display:none;
}
/* end MenuSeparator */

/* begin Box, Sheet */
.kvm-sheet
{
   max-width:960px;
   margin-top: 30px;
   margin-bottom: 0;
   cursor:auto;
   width: 960px;
}
.kvm-sheet-body 
{
   padding:3px;
   min-width:20px;
   min-height:20px;
   padding-top:0;
   padding-bottom:0;
}

/* end Box, Sheet */

/* begin Layout */
.kvm-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.kvm-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.kvm-content-layout-row {
   display: table-row;
}

.kvm-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Button */
span.kvm-button-wrapper>a.kvm-button,
span.kvm-button-wrapper>a.kvm-button:link,
span.kvm-button-wrapper>input.kvm-button,
span.kvm-button-wrapper>button.kvm-button
{
   text-decoration: none;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #E5F2BA !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 34px;
   height: 34px;
   margin: 0 !important;
   padding: 0 22px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.kvm-button img, span.kvm-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.kvm-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 34px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:954px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.kvm-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
}

div.kvm-block select 
{
   width:96%;
}

span.kvm-button-wrapper.hover>.kvm-button, span.kvm-button-wrapper.hover>a.kvm-button:link
{
   color: #F2F9DD !important;
   text-decoration: none !important;
}

span.kvm-button-wrapper.active>.kvm-button, span.kvm-button-wrapper.active>a.kvm-button:link
{
   color: #FFFFFF !important;
}

span.kvm-button-wrapper>span.kvm-button-l, span.kvm-button-wrapper>span.kvm-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('../images/button.png');
   background-repeat: no-repeat;
}

span.kvm-button-wrapper>span.kvm-button-l
{
   left: 0;
   right: 13px;
   background-position: top left;
}

span.kvm-button-wrapper>span.kvm-button-r
{
   width: 13px;
   right: 0;
   background-position: top right;
}

span.kvm-button-wrapper.hover>span.kvm-button-l
{
   background-position: center left;
}

span.kvm-button-wrapper.hover>span.kvm-button-r
{
   background-position: center right;
}

span.kvm-button-wrapper.active>span.kvm-button-l
{
   background-position: bottom left;
}

span.kvm-button-wrapper.active>span.kvm-button-r
{
   background-position: bottom right;
}

span.kvm-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Block */
.kvm-block
{
   max-width:954px;
   margin: 20px;
}
.kvm-block-body 
{
   padding:0;
}

div.kvm-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.kvm-blockheader {
   margin-bottom: 0;
   min-height: 42px;
   line-height:42px;
}
.kvm-blockheader:before, .kvm-blockheader:after{
   background-image: url('../images/blockheader.png');
}
.kvm-blockheader:before{
   right: 15px;
}
.kvm-blockheader:after{
   width: 15px;
}

.kvm-blockheader .t
{
   min-height: 42px;
   line-height:42px;
   color: #494B43;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 16px;
   margin:0;
   padding: 0 5px 0 21px;
   white-space: nowrap;
}

.kvm-blockheader .t a,
.kvm-blockheader .t a:link,
.kvm-blockheader .t a:visited, 
.kvm-blockheader .t a:hover
{
   color: #494B43;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-size: 16px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.kvm-blockcontent
{
   max-width:954px;
}
.kvm-blockcontent-body 
{
   padding:15px;
   color: #363831;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   text-align: justify;
   line-height: 150%;
}
.kvm-blockcontent-body table,
.kvm-blockcontent-body li, 
.kvm-blockcontent-body a,
.kvm-blockcontent-body a:link,
.kvm-blockcontent-body a:visited,
.kvm-blockcontent-body a:hover
{
   color: #363831;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   text-align: justify;
   line-height: 150%;
}

.kvm-blockcontent-body p
{
   margin: 12px 0;
}

.kvm-blockcontent-body a, .kvm-blockcontent-body a:link
{
   color: #4D570A;
   font-family: Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.kvm-blockcontent-body a:visited, .kvm-blockcontent-body a.visited
{
   color: #872F03;
   font-family: Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.kvm-blockcontent-body a:hover, .kvm-blockcontent-body a.hover
{
   color: #B43E04;
   text-decoration: underline;
}

.kvm-blockcontent-body ul li
{
   font-family: Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #2C3B49;
   margin: 5px 0 0 10px;
   padding: 0 0 0 12px;
   background-image: url('../images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Box, Post */
.kvm-post
{
   max-width:954px;
   margin: 15px;
}
.kvm-post-body 
{
   padding:10px;
}

a img
{
   border: 0;
}

.kvm-article img, img.kvm-article, .kvm-block img, .kvm-footer img
{
   border-color: #B2C2D1;
   border-style: solid;
   border-width: 0;
   margin: 7px 7px 7px 7px;
}

.kvm-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.kvm-article table, table.kvm-article
{
   border-collapse: collapse;
   margin: 1px;
}

.kvm-post .kvm-content-layout-br
{
   height: 0;
}

.kvm-article th, .kvm-article td
{
   padding: 2px;
   border: solid 1px #AAB493;
   vertical-align: top;
   text-align: left;
}

.kvm-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.kvm-article
{
   border-collapse: separate;
}/* end Box, Post */

/* begin PostHeaderIcon */
.kvm-postheader
{
   color: #2F3A05;
   margin: 5px 0;
   line-height: 1em;
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-size: 24px;
}

.kvm-postheader a, 
.kvm-postheader a:link, 
.kvm-postheader a:visited,
.kvm-postheader a.visited,
.kvm-postheader a:hover,
.kvm-postheader a.hovered
{
   font-family: AGOpusHighResolution,Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-size: 24px;
}

.kvm-postheader a, .kvm-postheader a:link
{
   font-size: 26px;
   text-align: left;
   text-decoration: none;
   color: #606C0E;
}

.kvm-postheader a:visited, .kvm-postheader a.visited
{
   color: #9B3603;
}

.kvm-postheader a:hover,  .kvm-postheader a.hovered
{
   color: #BE4204;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.kvm-postheadericons,
.kvm-postheadericons a,
.kvm-postheadericons a:link,
.kvm-postheadericons a:visited,
.kvm-postheadericons a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   color: #304050;
}

.kvm-postheadericons
{
   padding: 1px;
}

.kvm-postheadericons a, .kvm-postheadericons a:link
{
   text-decoration: none;
   color: #275068;
}

.kvm-postheadericons a:visited, .kvm-postheadericons a.visited
{
   font-style: italic;
   font-weight: normal;
   color: #275068;
}

.kvm-postheadericons a:hover, .kvm-postheadericons a.hover
{
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   color: #346D8D;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.kvm-postdateicon
{
   display:inline-block;
   line-height: 1em;
}

span.kvm-postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.kvm-postauthoricon
{
   display:inline-block;
   line-height: 1em;
}

span.kvm-postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostPdfIcon */
span.kvm-postpdficon
{
   background:url('../images/postpdficon.png') no-repeat left 0.5em;
   padding-top:8px;
   margin-top:-8px;
   padding-left:22px;
   min-height:16px;
   display:inline-block;
   line-height: 1em;
}

span.kvm-postpdficon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostPdfIcon */

/* begin PostIcon, PostPrintIcon */
span.kvm-postprinticon
{
   background:url('../images/postprinticon.png') no-repeat left 0.5em;
   padding-top:6px;
   margin-top:-6px;
   padding-left:21px;
   min-height:13px;
   display:inline-block;
   line-height: 1em;
}

span.kvm-postprinticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostPrintIcon */

/* begin PostIcon, PostEmailIcon */
span.kvm-postemailicon
{
   background:url('../images/postemailicon.png') no-repeat left 0.5em;
   padding-top:8px;
   margin-top:-8px;
   padding-left:22px;
   min-height:16px;
   display:inline-block;
   line-height: 1em;
}

span.kvm-postemailicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEmailIcon */

/* begin PostIcon, PostEditIcon */
span.kvm-postediticon
{
   background:url('../images/postediticon.png') no-repeat left 0.5em;
   padding-top:7px;
   margin-top:-7px;
   padding-left:20px;
   min-height:14px;
   display:inline-block;
   line-height: 1em;
}

span.kvm-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.kvm-postcontent ol, .kvm-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.kvm-postcontent li
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   color: #222E39;
   margin: 3px 0 0 -15px;
   padding: 0 0 0 13px;
}

.kvm-postcontent li ol, .kvm-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.kvm-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.kvm-postcontent ul>li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .kvm-postcontent blockquote a, .kvm-blockcontent blockquote a, .kvm-footer blockquote a,
blockquote a:link, .kvm-postcontent blockquote a:link, .kvm-blockcontent blockquote a:link, .kvm-footer blockquote a:link,
blockquote a:visited, .kvm-postcontent blockquote a:visited, .kvm-blockcontent blockquote a:visited, .kvm-footer blockquote a:visited,
blockquote a:hover, .kvm-postcontent blockquote a:hover, .kvm-blockcontent blockquote a:hover, .kvm-footer blockquote a:hover
{
   color: #F2F9DD;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: italic;
   font-weight: normal;
   font-size: 16px;
}

/* Override native 'p' margins*/
blockquote p,
.kvm-postcontent blockquote p,
.kvm-blockcontent blockquote p,
.kvm-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   border: solid 2px #5F6255;
   margin: 10px;
   padding: 10px;
   background-color: #363831;
   margin-left: 50px;
   padding-left: 38px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.kvm-postfootericons,
.kvm-postfootericons a,
.kvm-postfootericons a:link,
.kvm-postfootericons a:visited,
.kvm-postfootericons a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   color: #304050;
}

.kvm-postfootericons
{
   padding: 1px;
}

.kvm-postfootericons a, .kvm-postfootericons a:link
{
   text-decoration: none;
   color: #275068;
}

.kvm-postfootericons a:visited, .kvm-postfootericons a.visited
{
   color: #275068;
}

.kvm-postfootericons a:hover, .kvm-postfootericons a.hover
{
   color: #346D8D;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.kvm-postcategoryicon
{
   display:inline-block;
   line-height: 1em;
}

span.kvm-postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin Footer */
.kvm-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.kvm-footer-body
{
   position:relative;
   padding: 15px;
   color: #D9DCD0;
   font-size: 12px;
}

.kvm-footer-body ul li
{
   font-size: 11px;
   color: #D9E0E8;
   padding: 0 0 0 13px;
   background-image: url('../images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.kvm-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.kvm-footer:before, .kvm-footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:50px;
   background-image: url('../images/footer_b.png');
}

.kvm-footer:before
{
   left:0;
   right:0;
   background-position: bottom left;
}

.kvm-footer:after
{
   right:0;
   width:0;
   background-position: bottom right;
}

.kvm-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.kvm-footer-body a,
.kvm-footer-body a:link,
.kvm-footer-body a:visited,
.kvm-footer-body a:hover,
.kvm-footer-body td, 
.kvm-footer-body th,
.kvm-footer-body caption
{
   color: #D9DCD0;
   font-size: 12px;
}

.kvm-footer-text
{
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
   float: left;
   left: 50%;
   text-align: center;
}

.kvm-footer-body a,
.kvm-footer-body a:link
{
   color: #ABB09B;
   text-decoration: none;
}

.kvm-footer-body a:visited
{
   color: #A9BACB;
}

.kvm-footer-body a:hover
{
   color: #DDEBF3;
   text-decoration: underline;
}

.kvm-footer-center
{
   position: relative;
   float: right;
   right: 50%;
}

div.kvm-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}
/* end Footer */

/* begin PageFooter */
.kvm-page-footer, 
.kvm-page-footer a,
.kvm-page-footer a:link,
.kvm-page-footer a:visited,
.kvm-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #BCD7E6;
}

.kvm-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #A9BACB;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.kvm-content-layout .kvm-sidebar1
{
   width: 280px;
   border-left: 1px dotted #7F8372;
}
.kvm-content-layout .kvm-sidebar1:before
{
   position: absolute;
   z-index: -2;
   direction: ltr;
   right:   0;
   bottom: 0;
   top: 0;
   content: ' ';
   overflow: hidden;
   display: block;
   /*background-color: #D2D7C6;*/
   width: 280px;
}
/* end LayoutCell, sidebar1 */

/* category items */

.category ul.actions,
.category ul.actions li,
.category ul.actions li img
{
   display: inline;
   margin: 0;
   padding: 0;
}

.category ul.actions li
{
   background: none;
}

/* categories list container */

.category-list .category-desc .image-left
{
   float: left;
   margin: 0 5px 5px 0;
}

.category-list .category-desc .image-right
{
   float: left;
   margin: 0 0 5px 5px;
}

.category-list fieldset.filters
{
   border: none;
}
 
.category-list fieldset.filters .display-limit
{
   text-align: right;
   margin-right: .5em;
}
 
.category-list table.category
{
   width: 100%;
}
 
.category-list table.category thead th a img
{
   border: none;
   padding-left: .3em;
}

 /* categories list items */

.categories-list ul
{
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

.categories-list ul li
{
   background-image: none;
   padding: 5px;
   clear: both;
}

.categories-list ul ul
{
   margin-left: 10px;
}

dl.newsfeed-count dl,
dl.weblink-count dl,
dl.article-count dl
{
   clear: both;
}

dl.newsfeed-count dt,
dl.newsfeed-count dd,
dl.weblink-count dt,
dl.weblink-count dd,
dl.article-count dt,
dl.article-count dd
{
   display: inline;
}

dl.newsfeed-count dd,
dl.weblink-count dd,
dl.article-count dd
{
   padding: 0;
   margin: 0;
}

/* category subcategories */

.cat-children ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.cat-children ul li
{
   background-image: none;
   padding: 5px;
   clear: both;
}

/* contact */

.contact-email div
{
   padding: 3px 0;
}

.contact-email label
{
   width: 15em;
   float: left;
}

/* articles archive items */

#archive-items
{
   list-style-type: none;
   margin: 10px 0;
   padding: 0;
}

#archive-items li
{
   list-style-type: none;
   background-image: none;
   margin: 10px 0;
   padding: 0;
}

/* article */
ul.pagenav
{
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align: center;
}

ul.pagenav li
{
   display: inline-block;
   padding: 0 5px;
   text-align: center;
   background-image: none;
}

/* blog layout */

.cols-2 .column-1,
.cols-2 .column-2,
.cols-3 .column-1,
.cols-3 .column-2,
.cols-3 .column-3
{
   float: left;
   clear: right;
}

.cols-2 .column-1 {
   width: 50%;
}
.cols-2 .column-2 {
   width: 50%;
}
.cols-3 .column-1 {
   width: 33%;
}
.cols-3 .column-2 {
   width: 33%;
}
.cols-3 .column-3 {
   width: 34%;
}

.row-separator
{
   clear: both;
   float: none;
   font-size: 1px;
   display: block;
}

/* article info */

.article-info
{
   margin: 10px 0;
}

.article-info .article-info-term
{
   display: none;
}

.article-info dd
{
   background-image: none;
   margin: 0;
   padding: 0;
   line-height: 120%;
}

/* login */

.login .login-description img
{
   float: left;
   margin: 0 5px 5px 0;
}

.login fieldset
{
   clear: both;
   border:  0;
}

.login .login-fields label
{
   float: left;
   width: 15em;
   display: block;
}

/* search form */

#searchForm .phrases-box label
{
   display: block;
   line-height: 1.6em;
   margin-left: 2em;
}

#searchForm .phrases-box input
{
   display: block;
   float: left;
   width: auto;
   border: none;
   line-height: 1.6em;
   margin: 0;
}

#searchForm .only label
{
   display: block;
   line-height: 1.6em;
   margin-left: 2em;
}

#searchForm .only input
{
   display: block;
   float: left;
   width: auto;
   border: none;
   line-height: 1.6em;
   margin: 0;
}

#searchForm .form-limit
{
   margin-top: .5em;
}

/* pagination */

.pagination
{
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination .counter
{
   text-align: center;
}

.pagination ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination ul li
{
   display: inline;
   padding: 2px 5px;
   text-align: left;
   margin: 0 2px;
   background-image: none;
}

.pagination ul li.pagination-start,
.pagination ul li.pagination-start span,
.pagination ul li.pagination-end,
.pagination ul li.pagination-end span
{
   padding: 0;
}

/* system messages */

#system-message
{
   margin-bottom: 20px;
}

#system-message dd.message ul
{
   background: #c3d2e5 url(../../system/images/notice-info.png) 4px center no-repeat;
   border-top: 3px solid #de7a7b;
   border-bottom: 3px solid #de7a7b;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message dd.error ul
{
   color: #c00;
   background: #e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
   border-top: 3px solid #de7a7b;
   border-bottom: 3px solid #de7a7b;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message dd.notice ul
{
   color: #c00;
   background: #efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
   border-top: 3px solid #f0dc7e;
   border-bottom: 3px solid #f0dc7e;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message ul li
{
   background-image: none;
   padding-left: 0;
}

/* icon tooltip */

.tip
{
   border: solid 1px #333;
   background: #ffffcc;
   padding: 3px;
   text-align: left;
}

.tip-title
{
   font-weight: bold;
}

/* login module */

#login-form fieldset
{
   border: none;
   margin: 0;
   padding: 0;
}

#login-form p
{
   margin: 0.5em 0 0 0;
}

#login-form #form-login-username label,
#login-form #form-login-password label
{
   display: block;
}

#login-form #form-login-remember input
{
   margin: 0;
   padding: 0;
   vertical-align: bottom;
   position: relative;
   top: -1px;
}

#login-form #modlgn-username,
#login-form #modlgn-passwd
{
   width: 95%;
   margin: 0;
   padding: 0;
}

#login-form ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#login-form ul li
{
   background-image: none;
   padding: 0;
}

/* pagebreak content plugin */

#article-index
{
   float: right;
   margin: .5em;
   padding: .5em;
}

.pagenavcounter
{
   margin: .5em 0;
   padding: .5em 0;
   font-weight: bold;
}

/* com_users forms: registration, profile, edit profile, remind, reset */
.registration fieldset,
.profile-edit fieldset,
.profile fieldset,
#user-registration fieldset
{
   margin: .5em 0;
   padding: 1em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
.profile fieldset dt,
#user-registration fieldset dt
{
   float: left;
   width: 16em;
   padding: .2em 0;
}

.registration fieldset dd,
.profile-edit fieldset dd,
.profile fieldset dd,
#user-registration fieldset dd
{
   padding: .2em 0;
   margin-left: 16em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
#user-registration fieldset dt,
.registration fieldset dd,
.profile-edit fieldset dd,
#user-registration fieldset dd
{
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

.registration fieldset legend,
.profile-edit fieldset legend,
.profile fieldset legend
{
   font-weight: bold;
}

/* mod_stats */
.stats-module dt
{
   float: left;
   width: 10em;
   padding: .2em 0;
   font-weight: bold;
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

.stats-module dd
{
   padding: .2em 0;
   margin-left: 10em;
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}


