/* Thumbnail Effects Style */
.tj_container{
	width:108%;
	height:210px !important;
	position:relative;
	margin:30px auto;
}
.tj_nav{
	position:absolute;
	height:25px;
	width:60px;
    top:-62px;
    right:20px;
}
.tj_nav span{
	width:25px;
	height:25px;
	background:transparent url(../images/bg_preview.png) no-repeat top left;
	position:absolute;
	top:0px;
	left:20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	/*-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-transition: all 0.2s ease-in-out;
	*/
}
.tj_nav span.tj_next{
	background-image:url(../images/bg_next.png);
	top:0;
	left:40px;
}
.tj_nav span:hover{
	opacity:1.0;
}
.tj_wrapper{
	width:100%;
	height:100%;
	position:relative;
	margin:0px auto;
}
.tj_wrapper ul li{
	float:left;
	list-style: none outside none;

}
.tj_wrapper ul li a{
	outline:none;
	display:block;
	background:transparent url(../images/bg_thumb.jpg) no-repeat top center;
    margin-right: 15px;
    margin-bottom: 15px;
}
.tj_wrapper ul li a img{
	display:block;
	border:none;
	opacity:0.7;
	-moz-box-shadow:2px 2px 4px #8e8e8e;
	-webkit-box-shadow:2px 2px 4px #8e8e8e;
	box-shadow:2px 2px 4px #8e8e8e;
	/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-transition: all 0.2s ease-in-out;
	*/
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
}
.tj_wrapper ul li a img:hover{
	opacity:1.0;
}

/* Specific style for the examples */
.example10 .tj_container{
	height:600px;
}