/* Basic fix for correct alignment*/
.container > .row, .productdetails-view, .floatleft {
	text-align: left;
}

/* Fix for alignment of all cells and producs */
.category-view .floatleft, 
.browse-view .floatleft, 
.category-view .floatright, 
.browse-view .floatright,
.productdetails-view .floatright,
.productdetails-view .floatleft {
	margin: 0 !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.category-view .row, .browse-view .row {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	--moz-box-shadow: none !important;
	padding: 0 !important;
}

/* Category and browse views, separators and alignment corrections */
.category-view .vertical-separator, .browse-view .vertical-separator {
	background-image: url(../images/picVerticalDivider.png);
	background-size: auto 100%;
	background-position: 100% 0;
	background-repeat: no-repeat;
}
.product-fields .product-field, .product-related-categories .product-field {
	border-bottom: 1px solid #CCC;
	padding-bottom: 3px;
	margin-bottom: 3px;
}
.browse-view .product .spacer > div {
	width: 100%;
	text-align: center;
}
.width30.center {
	text-align: center;
}
.width30.center a {
	display: block;
}

/* Product detail page */
input.addtocart-button {
	background-position: 0 0;
	display: inline-block;
	padding: 3px 8px 1px;
	border: solid #CAC9C9 1px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-decoration: none;
	padding: 5px 5px 4px;
}
.product-price > * {
	text-indent: 10px;
}
span.quantity-controls input {
	background: url(../images/quantity-controls.png) repeat-x !important;
}
span.quantity-controls input.quantity-minus {
	background-position: 15px 0 !important;
}
span.quantity-controls input.quantity-plus {
	background-position: 0 0 !important;
}
span.quantity-controls input.quantity-minus:hover {
	background-position: 15px -16px !important;
}
span.quantity-controls input.quantity-plus:hover {
	background-position: 0 -16px !important
}