.imagehoverFallIn, .imagehoverSlideDown, .imagehoverSlideLeft, .imagehoverSlideRight, .imagehoverSlideUp, .imagehoverZoomIn {
   width: 300px;
   height: 300px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   background: #fff url(../images/bgimg.jpg);
}
.imagehoverFallIn .mask, .imagehoverSlideDown .mask, .imagehoverSlideLeft .mask, .imagehoverSlideRight .mask, .imagehoverSlideUp .mask, .imagehoverZoomIn .mask,
.imagehoverFallIn .content, .imagehoverSlideDown .content, .imagehoverSlideLeft .content, .imagehoverSlideRight .content, .imagehoverSlideUp .content, .imagehoverZoomIn .content {
   width: 300px;
   height: 300px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   border:1px solid #999;
}
.imagehoverFallIn img, .imagehoverSlideDown img, .imagehoverSlideLeft img, .imagehoverSlideRight img, .imagehoverSlideUp img, .imagehoverZoomIn img {
   display: block;
   position: relative;
}
.imagehoverFallIn h2, .imagehoverSlideDown h2, .imagehoverSlideLeft h2, .imagehoverSlideRight h2, .imagehoverSlideUp h2, .imagehoverZoomIn h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 16px;
   line-height: 22px;
   padding: 15px !important;
   background: rgba(0, 0, 0, 0.8);
   margin: 8px 0 0 0;
   border-bottom:1px solid #999;
   border-top:1px solid #999;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.imagehoverFallIn p, .imagehoverSlideDown p, .imagehoverSlideLeft p, .imagehoverSlideRight p, .imagehoverSlideUp p, .imagehoverZoomIn p {
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 10px 0px 10px !important;
   text-align: center;
}
.imagehoverFallIn a.info, .imagehoverSlideDown a.info, .imagehoverSlideLeft a.info, .imagehoverSlideRight a.info, .imagehoverSlideUp a.info, .imagehoverZoomIn a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   margin:8px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   border:1px solid #999;
   -moz-border-radius: 7px;
   border-radius: 7px;
}
.imagehoverFallIn a.info: hover, .imagehoverSlideDown a.info: hover, .imagehoverSlideLeft a.info: hover, .imagehoverSlideRight a.info: hover, .imagehoverSlideUp a.info: hover, .imagehoverZoomIn a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.imagehoverFallIn img, .imagehoverSlideDown img, .imagehoverSlideLeft img, .imagehoverSlideRight img, .imagehoverSlideUp img, .imagehoverZoomIn img {
    padding: 0px !important;
}